@mixin gradient {
    background: #6952ED;
    background: -webkit-linear-gradient(bottom, #6952ED, #BA43FC);
    background: -moz-linear-gradient(bottom, #6952ED, #BA43FC);
    background: linear-gradient(to top, #6952ED, #BA43FC);
}