@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #5B5766;
    font-size: 18px;
    line-height: 28px;
}

ul {
    list-style: none;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: #554D89;
    font-weight: 700;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h2 {
    font-size: 34px;
    line-height: 46px;
}

h3 {
    font-size: 28px;
    line-height: 42px;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.divider {
    border: 0;
    border-bottom: 1px solid #E1E4ED;
    margin-top: 20px;
}

@import 'blocks/top-header';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/info';
@import 'blocks/servises';
@import 'blocks/split';
