.btn {
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

.btn-light {
    padding: 5px 19px;
    font-size: 14px;
    color: #6852ED;
    border: 1px solid #6852ED;
    background-color: #fff;
    &:hover {
        color: #fff;
        border: none;
        @include gradient;
    }
}

.btn-dark {
    padding: 13px 33px;
    font-size: 16px;
    color: #fff;
    @include gradient;
    &:hover {
        color: #6852ED;
        border: 1px solid #6852ED;
        background: #fff;
        text-decoration: none;
    }
}

.btn-link {
    border: none;
    background: transparent;
    color: #554D89;
    font-size: 16px;
    line-height: 24px;
    margin-left: 30px;
    &:hover {
        color: #554D89;
        text-shadow: 0 0 1px #6852ed;
        text-decoration: none;
    }
    &::after {
        content: url('../icons/long-arrow-right.svg');
        margin-left: 15px;
    }
}

.btn-link_white {
    padding-top: 30px;
    color: #fff;
    text-align: start;
    &:hover {
        color: #fff;
        text-shadow: 0 0 1px #fff;
        text-decoration: none;
    }
    &::after {
        content: url('../icons/long-arrow-right-white.svg');
    }
}

.btn-down {
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background: #6852ED;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

