.price {
    padding-top: 140px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 360px;
        padding: 60px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px #E1E4ED;
        border-radius: 10px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #554D89;
    }
    &__best {
        padding: 5px 11px;
        height: 26px;
        background: rgba(225, 228, 237, 0.6);
        border-radius: 13px;
        &-text {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color: #EF7171;
        }
    }
    &__divider {
        width: 40px;
        height: 2px;
        background: #BA43FC;
        border-radius: 2px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    &__val {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #554D89;
        &-descr {
            margin-top: 10px;
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 21px;
            color: #5B5766;
            opacity: 0.8;
        }
    }
    &__check {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        &-img {
            width: 18px;
            height: 18px;
        }
        &-text {
            margin-left: 10px;
            font-size: 18px;
            line-height: 27px;
            color: #716C80;
            &_off {
                opacity: 0.8;
            }
        }
    }
    &__btn {
        margin-top: 60px;
        max-width: 189px;
    }
}