.video {
    height: 480px;
    background: url('../img/Background1.jpg') center center no-repeat;
    &__play {
        padding-top: 140px;
        max-width: 420px;
        margin: 0 auto;
    }
    &__title {
        padding-top: 28px;
        text-align: center;
    }
    &__descr {
        padding-top: 20px;
        text-align: center;
    }
}